<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="travelotto-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <button type="button"><span>login</span></button>
  </template>

  <script>
    /**
     * `travelotto-login`
     * Login component for the travelotto app.
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TravelottoLogin extends Polymer.Element {
      static get is() { return 'travelotto-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'travelotto-login'
          }
        };
      }
    }

    window.customElements.define(TravelottoLogin.is, TravelottoLogin);
  </script>
</dom-module>
